:host {
  display: block;
}

.container {
  display: flex;
}

.side {
  flex: 50%;
}

.card {
  height: 100%;
}

.delete-btn {
  flex: 0 0 40px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box {
  display: flex;
  align-items: center;
  color: #fff;
}

.drag-handle {
  flex: 0 0 40px;
  cursor: grab;
}

.example-name {
  flex: 1;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
