<form class="search-form" [formGroup]="searchForm">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput type="text" formControlName="search" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option>All</mat-option>
      <mat-option *ngFor="let option of statusList" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

<div class="list">
  <mat-card
    *ngFor="let travel of travels$ | async"
    class="card"
    [ngClass]="'status-' + travel.status"
  >
    <mat-card-title class="card-title">
      <span>{{ travel.name }}</span>
      <div>
        <button mat-icon-button disabled>
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteTravel(travel)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <span class="card-title-date">
        {{ travel.createdDate | date: 'longDate' }}
      </span>
      <p>
        {{ travel.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
