.search-form {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.card {
  --card-bg: #424242;

  flex: 0 0 300px;
  border-top: 2px solid var(--card-bg);
}

.card.status-new {
  --card-bg: #e91e63;
}

.card.status-completed {
  --card-bg: #4caf50;
}

.card.status-cancelled {
  --card-bg: #9e9e9e;
}

.card-title {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.card-title-date {
  font-size: 14px;
}
