:host {
  display: flex;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  flex-direction: column;
}

.header {
  flex: 0 0 64px;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #fff;
  text-decoration: none;
}

.footer {
  flex: 0 0 32px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.main {
  flex: 1;
  margin: 16px 0;
}
